.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.journal__sidebar-navbar {
  dispay: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  transition: color .3s ease;

  &:hover {
    color: darken($color: white, $amount: 20);

  }
}