.nothing__main-content {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.nothing__main-content p {
  text-align: center;
}
